Disability_Policy_Details.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: Disability_Policy_Details
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.8@592c8252795b5f75807de2d609a03196ed02596b409f7642b4a07548c7ff57ef
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1779133478405-source-1780335242643-target
      selected: false
      source: '1779133478405'
      sourceHandle: source
      target: '1780335242643'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1780335242643-source-1780335247593-target
      selected: false
      source: '1780335242643'
      sourceHandle: source
      target: '1780335247593'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1780335247593-source-1779133622991-target
      selected: false
      source: '1780335247593'
      sourceHandle: source
      target: '1779133622991'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1778956618758-source-1780461414069-target
      source: '1778956618758'
      sourceHandle: source
      target: '1780461414069'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1780461414069-source-17791333181840-target
      source: '1780461414069'
      sourceHandle: source
      target: '17791333181840'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 17791333181840-source-1779033811215-target
      source: '17791333181840'
      sourceHandle: source
      target: '1779033811215'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1779033811215-source-1779133478405-target
      source: '1779033811215'
      sourceHandle: source
      target: '1779133478405'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: query
          max_length: 1000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: query
        - default: ''
          hint: ''
          label: policy_id
          max_length: 1000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: policy_id
      height: 135
      id: '1778956618758'
      position:
        x: 254.98226774930265
        y: 365.6486961745674
      positionAbsolute:
        x: 254.98226774930265
        y: 365.6486961745674
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        prompt_template:
        - id: fdeaadbb-9ffc-4ee8-8c08-5cb03a475b0e
          role: system
          text: 'You are a response-focus extractor for a disability-policy details workflow.


            Your job:

            Read the user query and decide:

            1) which policy sections are requested

            2) how much detail is needed

            3) whether IDs must be shown


            Rules:

            - Return only structured output matching schema.

            - Do not answer the user question directly.

            - If unclear, choose detail_level="standard" and include ["summary","coverage","status","premium"].

            - Never return sections outside the allowed list.'
        - id: 10e95306-2630-430c-bca3-3bdf6be634bc
          role: user
          text: 'User query:

            {{#1778956618758.query#}}


            Optional policy_id input:

            {{#1780461414069.resolved_policy_id#}}'
        selected: false
        structured_output:
          schema:
            properties:
              detail_level:
                enum:
                - brief
                - standard
                - full
                type: string
              must_include_ids:
                type: boolean
              requested_sections:
                items:
                  enum:
                  - summary
                  - coverage
                  - benefits
                  - exclusions
                  - premium
                  - status
                  - timeline
                  - policyholder
                  - beneficiary
                  - next_steps
                  - notes
                  type: string
                type: array
            required:
            - requested_sections
            - detail_level
            - must_include_ids
            type: object
        structured_output_enabled: true
        title: extract_response_focus_policy
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1779033811215'
      position:
        x: 1303.9370215679464
        y: 393.3330328067953
      positionAbsolute:
        x: 1303.9370215679464
        y: 393.3330328067953
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: Content-Type:application/json
        isInIteration: false
        isInLoop: false
        method: get
        params: policy_id:{{#1780461414069.resolved_policy_id#}}
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: fetch_policy
        type: http-request
        url: https://sit-capstone.onrender.com/policies
        variables: []
      height: 138
      id: '17791333181840'
      position:
        x: 985.6230428969725
        y: 386.6486961745674
      positionAbsolute:
        x: 985.6230428969725
        y: 386.6486961745674
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        prompt_template:
        - id: 64a1bdbc-2a4b-488d-b412-194a66b588ed
          role: system
          text: 'You are a policy response formatter for a POLICY_ONLY workflow.


            Your task is to transform raw policy data into a concise, professional,
            machine-friendly JSON response.


            Output rules:

            1) Return ONLY valid JSON matching the required output schema.

            2) Use only facts present in the input. Do not invent values.

            3) Respect requested_sections and detail_level from Focus.

            4) If must_include_ids=true, always include policy_id and customer_id
            when available.

            5) If raw policy data is an array, use the first item as the policy record.

            6) If a field is unavailable, use null.

            7) Keep numeric fields as numbers.

            8) Keep dates in YYYY-MM-DD when available.

            9) Do not include noisy/internal notes unless "notes" is explicitly requested.

            10) Tone should be clear and operational for internal insurance staff.'
        - id: 5eca0231-24cd-449f-a909-7b7d66173b47
          role: user
          text: "User query:\n{{#1778956618758.query#}}\n\nRaw policy data:\n{{#17791333181840.body#}}\n\
            \nFocus:\n{{#1779033811215.structured_output#}}\n\nFormat the policy response\
            \ as structured JSON for internal operations.\n\nRequired output shape:\n\
            {\n  \"title\": \"Policy Details — <policy_id_or_unknown>\",\n  \"policy_summary\"\
            : {\n    \"policy_id\": string,\n    \"customer_id\": string,\n    \"\
            policy_type\": string,\n    \"policy_name\": string,\n    \"sum_assured\"\
            : number,\n    \"premium_amount\": number,\n    \"premium_frequency\"\
            : string,\n    \"start_date\": string,\n    \"end_date\": string,\n  \
            \  \"status\": string,\n    \"agent_id\": string,\n    \"policyholder_name\"\
            : string,\n    \"notes\": string\n  },\n  \"coverage_explanation\": string,\n\
            \  \"next_steps\": string\n}\n\nAdditional instructions:\n- Keep policy_summary\
            \ fields stable (do not rename keys).\n- If raw policy data is an array,\
            \ use the first item as the primary policy record.\n- Keep sum_assured\
            \ and premium_amount as numbers (not strings).\n- Use null only if a value\
            \ is truly unavailable.\n- If status is active, next_steps should focus\
            \ on servicing/claim-readiness.\n- If status is lapsed/inactive/cancelled,\
            \ next_steps should focus on reinstatement/eligibility checks.\n- Include\
            \ notes only if requested_sections includes \"notes\"; otherwise set notes\
            \ to null.\n- Do not invent facts.\nReturn JSON only."
        selected: false
        structured_output:
          schema:
            properties:
              coverage_explanation:
                description: Plain English explanation of policy coverage/status context
                type: string
              next_steps:
                description: What should happen next for this policy status
                type: string
              policy_summary:
                properties:
                  agent_id:
                    type: string
                  customer_id:
                    type: string
                  end_date:
                    type: string
                  notes:
                    type: string
                  policy_id:
                    type: string
                  policy_name:
                    type: string
                  policy_type:
                    type: string
                  policyholder_name:
                    type: string
                  premium_amount:
                    type: number
                  premium_frequency:
                    type: string
                  start_date:
                    type: string
                  status:
                    type: string
                  sum_assured:
                    type: number
                type: object
              title:
                description: Response title e.g. 'Policy Details — POL-HE-0002'
                type: string
            required:
            - title
            - policy_summary
            - coverage_explanation
            - next_steps
            type: object
        structured_output_enabled: true
        title: format_policy_response
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1779133478405'
      position:
        x: 1610.4623359785148
        y: 371.3971379703053
      positionAbsolute:
        x: 1610.4623359785148
        y: 371.3971379703053
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1780335247593'
          - merged_json
          value_type: string
          variable: policy_answer
        selected: false
        title: policy_answer
        type: end
      height: 88
      id: '1779133622991'
      position:
        x: 2512.4623359785146
        y: 371.3971379703053
      positionAbsolute:
        x: 2512.4623359785146
        y: 371.3971379703053
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        prompt_template:
        - id: 2293f0c8-e836-47d4-849c-de88adbd6f16
          role: system
          text: "You are a machine-context generator for downstream follow-up orchestration\
            \ in a disability-policy details workflow.\n\nTask:\nGenerate a compact `suggestion_context`\
            \ object from the user query and formatted policy response.\n\nRules:\n\
            1) Return ONLY valid JSON matching the schema.\n2) Do NOT generate explicit\
            \ follow-up questions.\n3) Use only facts present in the input.\n4) `path_type`\
            \ must be \"POLICY_ONLY\".\n5) `outcome_type` should reflect policy status:\n\
            \   - active -> ACTIVE\n   - lapsed -> LAPSED\n   - inactive/cancelled/terminated\
            \ -> INACTIVE\n   - otherwise -> UNKNOWN\n6) `follow_up_themes` must be\
            \ short topic labels.\n7) `missing_information` should include only truly\
            \ missing useful items.\n8) `next_decision_points` should be concrete\
            \ operational next checks/actions.\n\nKeep output concise and practical."
        - id: afbdfb31-0dea-46de-9a1e-fe4b92a0a053
          role: user
          text: 'Build `suggestion_context` for this POLICY_ONLY response.


            User query:

            {{#1778956618758.query#}}


            Intent classifier output:

            {{#1779033811215.structured_output#}}


            Formatted policy response:

            {{#1779133478405.structured_output#}}


            Instructions:

            - Fill `entities` from available policy fields.

            - Set `outcome_type` from policy status.

            - Provide 3-6 concise `follow_up_themes`.

            - Add only necessary `missing_information`.

            - Provide 2-5 actionable `next_decision_points`.


            Return JSON only.'
        selected: false
        structured_output:
          schema:
            properties:
              entities:
                properties:
                  claim_category:
                    type: string
                  claim_id:
                    type: string
                  claim_status:
                    type: string
                  policy_id:
                    type: string
                  policy_status:
                    type: string
                required:
                - claim_id
                - policy_id
                - claim_status
                - policy_status
                - claim_category
                type: object
              follow_up_themes:
                items:
                  type: string
                type: array
              guardrails_for_mainflow_llm:
                items:
                  type: string
                type: array
              missing_information:
                items:
                  type: string
                type: array
              next_decision_points:
                items:
                  type: string
                type: array
              outcome_type:
                type: string
              path_type:
                enum:
                - CLAIM_ONLY
                - POLICY_ONLY
                - BOTH
                - ASSESS
                type: string
              topic_hints:
                items:
                  properties:
                    priority:
                      type: integer
                    theme:
                      type: string
                    why_relevant:
                      type: string
                  required:
                  - theme
                  - why_relevant
                  - priority
                  type: object
                type: array
            required:
            - path_type
            - outcome_type
            - entities
            - follow_up_themes
            - topic_hints
            - missing_information
            - next_decision_points
            - guardrails_for_mainflow_llm
            type: object
        structured_output_enabled: true
        title: build_policy_suggestion_context
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1780335242643'
      position:
        x: 1912.4623359785148
        y: 371.3971379703053
      positionAbsolute:
        x: 1912.4623359785148
        y: 371.3971379703053
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef _to_obj(v):\n    if isinstance(v, dict):\n     \
          \   return v\n    if isinstance(v, str):\n        try:\n            return\
          \ json.loads(v)\n        except Exception:\n            return v\n    return\
          \ v\n\ndef main(answer, suggestion_context):\n    merged = {\n        \"\
          answer\": _to_obj(answer),\n        \"suggestion_context\": _to_obj(suggestion_context)\n\
          \    }\n    return {\n        \"merged_json\": json.dumps(merged, ensure_ascii=False)\n\
          \    }"
        code_language: python3
        outputs:
          merged_json:
            children: null
            type: string
        selected: false
        title: merge_answer_and_context_policy
        type: code
        variables:
        - value_selector:
          - '1779133478405'
          - structured_output
          value_type: object
          variable: answer
        - value_selector:
          - '1780335242643'
          - structured_output
          value_type: object
          variable: suggestion_context
      height: 52
      id: '1780335247593'
      position:
        x: 2212.4623359785146
        y: 371.3971379703053
      positionAbsolute:
        x: 2212.4623359785146
        y: 371.3971379703053
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\n\ndef _clean(v):\n    return (v or \"\").strip()\n\ndef\
          \ _extract_policy_id_from_query(query):\n    q = _clean(query)\n    if not\
          \ q:\n        return \"\"\n    # Matches POL-HE-0001, POL-LI-0123, etc.\n\
          \    m = re.search(r\"\\b(POL-[A-Z]{2,4}-\\d{3,6})\\b\", q.upper())\n  \
          \  return m.group(1) if m else \"\"\n\ndef main(start_policy_id=\"\", query=\"\
          \"):\n    resolved = _clean(start_policy_id) or _extract_policy_id_from_query(query)\n\
          \    return {\"resolved_policy_id\": resolved}"
        code_language: python3
        outputs:
          resolved_policy_id:
            children: null
            type: string
        selected: false
        title: extract_policy_id
        type: code
        variables:
        - value_selector:
          - '1778956618758'
          - query
          value_type: string
          variable: query
        - value_selector:
          - '1778956618758'
          - policy_id
          value_type: string
          variable: start_policy_id
      height: 52
      id: '1780461414069'
      position:
        x: 614.4483522335433
        y: 386.6486961745674
      positionAbsolute:
        x: 614.4483522335433
        y: 386.6486961745674
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -551.4036575755933
      y: 98.58824737258894
      zoom: 0.6870816540094066
  rag_pipeline_variables: []
