Test_Orchestrator_1.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: Test_Orchestrator_1
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.8@592c8252795b5f75807de2d609a03196ed02596b409f7642b4a07548c7ff57ef
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: ''
    id: 4ce9dcfb-d778-4a72-8bf6-1f16f0165eea
    name: pending_query
    selector:
    - conversation
    - pending_query
    value: ''
    value_type: string
  - description: ''
    id: 6a53a121-0f6e-47ed-b672-8c2233bbeabf
    name: pending_intents_json
    selector:
    - conversation
    - pending_intents_json
    value: ''
    value_type: string
  - description: ''
    id: 21e70602-ecef-4563-a5de-963a75b2200f
    name: effective_query
    selector:
    - conversation
    - effective_query
    value: ''
    value_type: string
  - description: ''
    id: f26756ef-31bc-4c5d-a208-71f8f106912f
    name: last_intent_list
    selector:
    - conversation
    - last_intent_list
    value: []
    value_type: array[object]
  - description: ''
    id: 98a0bd7d-f65b-40d6-9b6a-e12827f0ffde
    name: last_primary_intent
    selector:
    - conversation
    - last_primary_intent
    value: ''
    value_type: string
  - description: ''
    id: 56bf9dc7-37ee-4e98-8ede-bfc51d585417
    name: last_combined_sections
    selector:
    - conversation
    - last_combined_sections
    value: ''
    value_type: string
  - description: ''
    id: 974bea6f-c300-48a1-8e1b-cf6ad3c4f35d
    name: pending_intent_list
    selector:
    - conversation
    - pending_intent_list
    value: []
    value_type: array[object]
  - description: ''
    id: 23759da9-a26f-434d-8bd1-f25e0189fb32
    name: pending_primary_intent
    selector:
    - conversation
    - pending_primary_intent
    value: ''
    value_type: string
  - description: ''
    id: c4332f14-725f-4cbb-b361-ae4908538191
    name: last_answer_type
    selector:
    - conversation
    - last_answer_type
    value: ''
    value_type: string
  - description: ''
    id: c994919a-c922-4ef5-84dd-469913355323
    name: last_faq_answer
    selector:
    - conversation
    - last_faq_answer
    value: ''
    value_type: string
  - description: ''
    id: 7b9ea691-bd7d-4056-9d70-f03b6db5e292
    name: awaiting_policy_id
    selector:
    - conversation
    - awaiting_policy_id
    value: ''
    value_type: string
  - description: ''
    id: 1b90009d-4d1d-473b-858b-25c850c04214
    name: awaiting_claim_id
    selector:
    - conversation
    - awaiting_claim_id
    value: ''
    value_type: string
  - description: ''
    id: 824f6475-171f-4c16-b5e8-68f065b8ea09
    name: intended_domain
    selector:
    - conversation
    - intended_domain
    value: ''
    value_type: string
  - description: ''
    id: 5136119c-5aaf-40e2-91e6-852acc45d3bd
    name: policy_id
    selector:
    - conversation
    - policy_id
    value: ''
    value_type: string
  - description: ''
    id: 416f44cc-d610-493c-a7f7-fde29fefef9b
    name: claim_id
    selector:
    - conversation
    - claim_id
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1782159569238-llm
      source: '1782159569238'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables: []
      height: 73
      id: '1782159569238'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        prompt_template:
        - id: 83429b98-197f-46db-b0c2-19db1e937617
          role: system
          text: "You are a routing classifier for an insurance claims assistant.\n\
            \nGoal:\nClassify the current user message into:\n- is_followup (boolean)\n\
            - reuse_last_intents (boolean)\n- needs_ids (boolean)\n\nDefinitions:\n\
            1) is_followup = true\nSet true when the user refers to the previous claims\
            \ result, including:\n- clarification: \"what does that mean\", \"explain\
            \ this\", \"why\", \"how to interpret\"\n- drill-down on returned data:\
            \ \"tell me more about the exclusion\", \"what is this rule\"\n- short\
            \ context-dependent questions: \"and the policy start date?\", \"what\
            \ about the deductible?\"\n\nSet false when:\n- user starts a new unrelated\
            \ request\n- user gives a different/new claim ID or policy ID\n- greeting/chitchat\
            \ only\n\n2) reuse_last_intents\nIMPORTANT:\n- clarification / explanation\
            \ / interpretation follow-up: reuse_last_intents = false\n- refresh /\
            \ rerun / latest / check again / re-fetch: reuse_last_intents = true\n\
            - if is_followup = false: reuse_last_intents = false\n\n3) needs_ids\n\
            Set true only if a Claim ID or Policy ID is required and none is available\
            \ in context.\nOtherwise false.\n\nSpecial case:\n- If there is no prior\
            \ assistant message: is_followup = false, reuse_last_intents = false,\
            \ needs_ids = false\n\nOutput contract:\nReturn JSON only with boolean\
            \ values:\n{\n  \"is_followup\": true|false,\n  \"reuse_last_intents\"\
            : true|false,\n  \"needs_ids\": true|false\n}\nNo extra keys. No prose."
        - id: 40db2535-beb2-4684-a830-342c83590b1b
          role: user
          text: 'Latest user message:

            {{#sys.query#}}


            Conversation context:

            - Last combined claims result: {{#conversation.last_combined_sections#}}

            - Stored Claim ID: {{#conversation.claim_id#}}

            - Stored Policy ID: {{#conversation.policy_id#}}

            - System awaiting Claim ID: {{#conversation.awaiting_claim_id#}}

            - System awaiting Policy ID: {{#conversation.awaiting_policy_id#}}


            Special rule:

            - If awaiting_claim_id = true and user message looks like a Claim ID (e.g.
            CLM-0003, clm-005): is_followup = false, reuse_last_intents = false, needs_ids
            = false

            - If awaiting_policy_id = true and user message looks like a Policy ID
            (e.g. POL-HE-0002, pol-li-001): is_followup = false, reuse_last_intents
            = false, needs_ids = false


            Return routing classification using the required structured schema only.'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 42
      y: 87.5
      zoom: 1
  rag_pipeline_variables: []
