dify-data/CoT_Research.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: CoT_Research
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.4.2@21195ee1321849e0a7d4b3f6b2fd8c2be23ea6c7182e1b444ecc4c1711b52468
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1783192830571-source-1783192849979-target
      source: '1783192830571'
      sourceHandle: source
      target: '1783192849979'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1783192849979-source-1783194536743-target
      source: '1783192849979'
      sourceHandle: source
      target: '1783194536743'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1783194536743-source-1783194706922-target
      source: '1783194536743'
      sourceHandle: source
      target: '1783194706922'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1783194706922-source-1783194796548-target
      source: '1783194706922'
      sourceHandle: source
      target: '1783194796548'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: query
          max_length: 5000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: query
        - default: ''
          hint: ''
          label: claim_id
          max_length: 1000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: claim_id
      height: 135
      id: '1783192830571'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\n\ndef _clean(v):\n    return (v or \"\").strip()\n\ndef _extract_claim_id_from_query(query):\n\
          \    q = _clean(query)\n    if not q:\n        return \"\"\n    m = re.search(r\"\\b(CLM-\\\
          d{3,6})\\b\", q.upper())\n    return m.group(1) if m else \"\"\n\ndef main(start_claim_id=\"\
          \", query=\"\"):\n    resolved = _clean(start_claim_id) or _extract_claim_id_from_query(query)\n\
          \    return {\"resolved_claim_id\": resolved}"
        code_language: python3
        outputs:
          resolved_claim_id:
            children: null
            type: string
        selected: false
        title: extract_claim_id
        type: code
        variables:
        - value_selector:
          - '1783192830571'
          - claim_id
          value_type: string
          variable: start_claim_id
        - value_selector:
          - '1783192830571'
          - query
          value_type: string
          variable: query
      height: 52
      id: '1783192849979'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: Content-Type:application/json
        method: get
        params: claim_id:{{#1783192849979.resolved_claim_id#}}
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: fetch_assessment
        type: http-request
        url: https://sit-capstone.onrender.com/assessment
        variables: []
      height: 138
      id: '1783194536743'
      position:
        x: 684
        y: 282
      positionAbsolute:
        x: 684
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        prompt_template:
        - id: 1e8cfffe-3309-4f4c-9bf4-4bcb7eab9635
          role: system
          text: 'You will be given claim, policy, eligibility rule, and claim_documents data as JSON.
            For any eligibility rule requiring a specific supporting document (e.g. a medical report,
            specialist report, or police/coroner report), a document of that type being present in claim_documents
            satisfies the presence requirement. Some claim_documents entries also include a content_summary
            field describing what the document actually states — read and rely on content_summary when
            it is present to resolve any rule that depends on what a document says (e.g. whether an incident
            was self-inflicted), not just whether the document exists. If content_summary is null for
            a relevant document, only the presence-based part of the rule is satisfied — you cannot confirm
            content-based requirements from a null content_summary. For any rule requiring facility or
            treatment details, check the claim''s notes field. Think through each eligibility rule one
            at a time, stating whether it passes or fails and why, before reaching a conclusion. After
            your reasoning, output a final line in exactly this format: ''Final Recommendation: APPROVE''
            or ''Final Recommendation: REJECT'' or ''Final Recommendation: REFER_FOR_FURTHER_REVIEW''.'
        - id: dfe7852a-514e-4310-981f-dc085a6b3284
          role: user
          text: 'Assessment data (claim, policy, and eligibility rules):

            {{#1783194536743.body#}}'
        selected: true
        title: cot_recommendation
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1783194706922'
      position:
        x: 986
        y: 282
      positionAbsolute:
        x: 986
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1783194706922'
          - text
          value_type: string
          variable: answer
        selected: false
        title: recommendation
        type: end
      height: 88
      id: '1783194796548'
      position:
        x: 1288
        y: 282
      positionAbsolute:
        x: 1288
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 38.71433295588645
      y: 113.10210968319296
      zoom: 0.8923248169227207
  rag_pipeline_variables: []
