dify-data/Explain_Assessment_Reasoning.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: Explain_Assessment_Reasoning
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.4.2@21195ee1321849e0a7d4b3f6b2fd8c2be23ea6c7182e1b444ecc4c1711b52468
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1783400010001-source-1783400010002-target
      source: '1783400010001'
      sourceHandle: source
      target: '1783400010002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1783400010002-source-1783400010003-target
      source: '1783400010002'
      sourceHandle: source
      target: '1783400010003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1783400010003-source-1783400010004-target
      source: '1783400010003'
      sourceHandle: source
      target: '1783400010004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1783400010004-source-1783400010005-target
      source: '1783400010004'
      sourceHandle: source
      target: '1783400010005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1783400010005-true-1783400010006-target
      source: '1783400010005'
      sourceHandle: 'true'
      target: '1783400010006'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1783400010005-false-1783400010007-target
      source: '1783400010005'
      sourceHandle: 'false'
      target: '1783400010007'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1783400010007-source-1783400010008-target
      source: '1783400010007'
      sourceHandle: source
      target: '1783400010008'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1783400010006-source-1783400010009-target
      source: '1783400010006'
      sourceHandle: source
      target: '1783400010009'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1783400010008-source-1783400010009-target
      source: '1783400010008'
      sourceHandle: source
      target: '1783400010009'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: query
          max_length: 5000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: query
        - default: ''
          hint: ''
          label: claim_id
          max_length: 1000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: claim_id
        - default: ''
          hint: ''
          label: log_id
          max_length: 1000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: log_id
      height: 135
      id: '1783400010001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\n\ndef _clean(v):\n    return (v or \"\").strip()\n\ndef\
          \ _extract_claim_id_from_query(query):\n    q = _clean(query)\n    if not\
          \ q:\n        return \"\"\n    m = re.search(r\"\\b(CLM-\\d{3,6})\\b\",\
          \ q.upper())\n    return m.group(1) if m else \"\"\n\ndef main(start_claim_id=\"\
          \", query=\"\", start_log_id=\"\"):\n    resolved_claim_id = _clean(start_claim_id)\
          \ or _extract_claim_id_from_query(query)\n    resolved_log_id = _clean(start_log_id)\n\
          \    return {\"resolved_claim_id\": resolved_claim_id, \"resolved_log_id\"\
          : resolved_log_id}\n"
        code_language: python3
        outputs:
          resolved_claim_id:
            children: null
            type: string
          resolved_log_id:
            children: null
            type: string
        selected: false
        title: extract_claim_id
        type: code
        variables:
        - value_selector:
          - '1783400010001'
          - claim_id
          value_type: string
          variable: start_claim_id
        - value_selector:
          - '1783400010001'
          - query
          value_type: string
          variable: query
        - value_selector:
          - '1783400010001'
          - log_id
          value_type: string
          variable: start_log_id
      height: 52
      id: '1783400010002'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: Content-Type:application/json
        method: get
        params: 'claim_id:{{#1783400010002.resolved_claim_id#}}

          log_id:{{#1783400010002.resolved_log_id#}}'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: fetch_assessment_logs
        type: http-request
        url: https://sit-capstone.onrender.com/assessment-logs
        variables: []
      height: 138
      id: '1783400010003'
      position:
        x: 684
        y: 282
      positionAbsolute:
        x: 684
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(logs_body):\n    try:\n        data = json.loads(logs_body)\n\
          \    except Exception:\n        data = []\n    if not isinstance(data, list):\n\
          \        data = [data] if data else []\n    has_log = len(data) > 0\n  \
          \  log_json = json.dumps(data[0], ensure_ascii=False) if has_log else \"\
          \"\n    return {\"has_log\": has_log, \"log_json\": log_json}"
        code_language: python3
        outputs:
          has_log:
            children: null
            type: boolean
          log_json:
            children: null
            type: string
        selected: false
        title: check_log_exists
        type: code
        variables:
        - value_selector:
          - '1783400010003'
          - body
          value_type: string
          variable: logs_body
      height: 52
      id: '1783400010004'
      position:
        x: 986
        y: 282
      positionAbsolute:
        x: 986
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 6f1a2b3c-4d5e-4f6a-8b7c-9d0e1f2a3b4c
            value: true
            varType: boolean
            variable_selector:
            - '1783400010004'
            - has_log
          id: 'true'
          logical_operator: and
        selected: false
        title: mode_router
        type: if-else
      height: 198
      id: '1783400010005'
      position:
        x: 1288
        y: 282
      positionAbsolute:
        x: 1288
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        prompt_template:
        - id: 7a2b3c4d-5e6f-4a7b-9c8d-0e1f2a3b4c5d
          role: system
          text: 'You are explaining a completed insurance claim assessment to a claims
            officer or customer. You will be given the final recommendation, confidence
            level, number of rules passed/failed, coverage conclusion, and LLM-as-Judge
            quality scores (completeness, consistency, hallucination risk, clarity,
            overall) on a 1.0-5.0 scale. Write a clear, plain-language explanation
            of why this verdict was reached. Do not change or second-guess the recommendation
            — your job is only to explain it.


            If you reference the judge quality scores, a HIGHER score is always better/safer
            for every one of them, including hallucination_risk — e.g. a hallucination_risk
            score of 4.7/5.0 means very LOW actual hallucination risk, not elevated
            risk. Never describe a high score on any of these dimensions as a weakness,
            concern, or a factor supporting escalation/referral.'
        - id: 8b3c4d5e-6f7a-4b8c-ad9e-1f2a3b4c5d6e
          role: user
          text: 'Completed assessment data:

            {{#1783400010004.log_json#}}


            Explain this assessment result in plain language.'
        selected: false
        title: explain_existing_assessment
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1783400010006'
      position:
        x: 1590
        y: 140
      positionAbsolute:
        x: 1590
        y: 140
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: Content-Type:application/json
        method: get
        params: claim_id:{{#1783400010002.resolved_claim_id#}}
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: fetch_assessment_for_walkthrough
        type: http-request
        url: https://sit-capstone.onrender.com/assessment
        variables: []
      height: 138
      id: '1783400010007'
      position:
        x: 1590
        y: 420
      positionAbsolute:
        x: 1590
        y: 420
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        prompt_template:
        - id: 9c4d5e6f-7a8b-4c9d-be0f-2a3b4c5d6e7f
          role: system
          text: You are assessing an insurance claim. You will be given claim, policy,
            and eligibility rule data as JSON. Work through each eligibility rule
            one at a time, stating clearly whether it passes or fails and why, in
            plain language suitable for a claims officer or customer. Conclude with
            a clear final recommendation (APPROVE, REJECT, or REFER_FOR_FURTHER_REVIEW)
            and a one-paragraph plain-language summary.
        - id: 0d5e6f7a-8b9c-4d0e-cf1a-3b4c5d6e7f8a
          role: user
          text: 'Assessment data (claim, policy, and eligibility rules):

            {{#1783400010007.body#}}'
        selected: false
        title: fresh_reasoning_walkthrough
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1783400010008'
      position:
        x: 1892
        y: 420
      positionAbsolute:
        x: 1892
        y: 420
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1783400010006'
          - text
          value_type: string
          variable: explanation_existing
        - value_selector:
          - '1783400010008'
          - text
          value_type: string
          variable: explanation_fresh
        selected: false
        title: explanation_report
        type: end
      height: 88
      id: '1783400010009'
      position:
        x: 2194
        y: 282
      positionAbsolute:
        x: 2194
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 156.94637982169365
      y: 56.031350497954804
      zoom: 0.8923248169227207
  rag_pipeline_variables: []
