dify-data/Life_Claim_and_Policy_Details-2.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: Life_Claim_and_Policy_Details
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.8@592c8252795b5f75807de2d609a03196ed02596b409f7642b4a07548c7ff57ef
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1780335252686-source-1780335257314-target
      source: '1780335252686'
      sourceHandle: source
      target: '1780335257314'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1780335257314-source-1779134475759-target
      source: '1780335257314'
      sourceHandle: source
      target: '1779134475759'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1778956618758-source-1780461414069-target
      source: '1778956618758'
      sourceHandle: source
      target: '1780461414069'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1780461414069-source-17791343078480-target
      source: '1780461414069'
      sourceHandle: source
      target: '17791343078480'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1780461414069-source-17791342673210-target
      source: '1780461414069'
      sourceHandle: source
      target: '17791342673210'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 17791343078480-source-1779033811215-target
      source: '17791343078480'
      sourceHandle: source
      target: '1779033811215'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 17791342673210-source-1779033811215-target
      source: '17791342673210'
      sourceHandle: source
      target: '1779033811215'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1779033811215-source-1781381278770-target
      source: '1779033811215'
      sourceHandle: source
      target: '1781381278770'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1781381278770-source-1780335252686-target
      source: '1781381278770'
      sourceHandle: source
      target: '1780335252686'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: query
          max_length: 1000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: query
        - default: ''
          hint: ''
          label: claim_id
          max_length: 1000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: claim_id
        - default: ''
          hint: ''
          label: policy_id
          max_length: 1000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: policy_id
      height: 161
      id: '1778956618758'
      position:
        x: 82
        y: 283
      positionAbsolute:
        x: 82
        y: 283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        prompt_template:
        - id: fdeaadbb-9ffc-4ee8-8c08-5cb03a475b0e
          role: system
          text: 'You are a response-focus extractor for a life claim-and-policy details
            workflow.


            Your job:

            Read the user query and decide:

            1) which sections are requested

            2) how much detail is needed

            3) whether IDs must be shown


            Rules:

            - Return only structured output matching schema.

            - Do not answer the user question directly.

            - If unclear, choose detail_level="standard" and include ["claim_status","claim_amounts","policy_status","coverage","next_steps"].

            - Never return sections outside the allowed list.'
        - id: 10e95306-2630-430c-bca3-3bdf6be634bc
          role: user
          text: 'User query:

            {{#1778956618758.query#}}


            Optional claim_id input:

            {{#1780461414069.resolved_claim_id#}}


            Optional policy_id input:

            {{#1780461414069.resolved_policy_id#}}'
        selected: false
        structured_output:
          schema:
            properties:
              detail_level:
                enum:
                - brief
                - standard
                - full
                type: string
              must_include_ids:
                type: boolean
              requested_sections:
                items:
                  enum:
                  - claim_summary
                  - claim_status
                  - claim_amounts
                  - claim_timeline
                  - decision_reason
                  - policy_summary
                  - policy_status
                  - coverage
                  - benefits
                  - exclusions
                  - premium
                  - combined_risk_flags
                  - next_steps
                  - notes
                  type: string
                type: array
            required:
            - requested_sections
            - detail_level
            - must_include_ids
            type: object
        structured_output_enabled: true
        title: extract_response_focus_claim_policy
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1779033811215'
      position:
        x: 1160.1123734009577
        y: 304
      positionAbsolute:
        x: 1160.1123734009577
        y: 304
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: Content-Type:application/json
        isInIteration: false
        isInLoop: false
        method: get
        params: policy_id:{{#1780461414069.resolved_policy_id#}}
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: fetch_policy_parallel
        type: http-request
        url: https://sit-capstone.onrender.com/policies
        variables: []
      height: 138
      id: '17791342673210'
      position:
        x: 824.6850896386288
        y: 409.00560751133037
      positionAbsolute:
        x: 824.6850896386288
        y: 409.00560751133037
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: Content-Type:application/json
        isInIteration: false
        isInLoop: false
        method: get
        params: claim_id:{{#1780461414069.resolved_claim_id#}}
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: fetch_claim_parallel
        type: http-request
        url: https://sit-capstone.onrender.com/claims
        variables: []
      height: 138
      id: '17791343078480'
      position:
        x: 816.3145763715202
        y: 204.95830138867348
      positionAbsolute:
        x: 816.3145763715202
        y: 204.95830138867348
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1780335257314'
          - merged_json
          value_type: string
          variable: both_answer
        selected: false
        title: both_answer
        type: end
      height: 88
      id: '1779134475759'
      position:
        x: 2540.9200958329366
        y: 304
      positionAbsolute:
        x: 2540.9200958329366
        y: 304
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        prompt_template:
        - id: 34bd2be0-facf-4f59-9613-3e399cbb5368
          role: system
          text: "You are a machine-context generator for downstream follow-up orchestration\
            \ in a life claim-and-policy details workflow.\n\nTask:\nGenerate a compact\
            \ `suggestion_context` from the user query and formatted combined response.\n\
            \nRules:\n1) Return ONLY valid JSON matching schema.\n2) Do NOT generate\
            \ explicit follow-up questions.\n3) Use only facts present in input.\n\
            4) path_type must be \"CLAIM_AND_POLICY\".\n5) outcome_type mapping:\n\
            \   - claim approved + policy active -> ALIGNED_POSITIVE\n   - claim rejected\
            \ -> CLAIM_BLOCKED\n   - policy lapsed/inactive -> POLICY_AT_RISK\n  \
            \ - claim pending/under_review -> REVIEW_NEEDED\n   - otherwise -> UNKNOWN\n\
            6) follow_up_themes must be short topic labels.\n7) missing_information\
            \ should include only truly missing useful items.\n8) next_decision_points\
            \ should be concrete operational actions.\n\nKeep output concise and practical."
        - id: 56ec109d-6a15-416f-8a06-d9a1b3efe4c0
          role: user
          text: 'Build `suggestion_context` for this CLAIM_AND_POLICY response.


            User query:

            {{#1778956618758.query#}}


            Intent classifier output:

            {{#1779033811215.structured_output#}}


            Formatted combined response:

            {{#1781381278770.structured_output#}}


            Instructions:

            - Fill entities from available claim/policy fields.

            - Set outcome_type using the mapping rules.

            - Provide 3-6 concise follow_up_themes.

            - Add only necessary missing_information.

            - Provide 2-5 actionable next_decision_points.


            Return JSON only.


            '
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              entities:
                additionalProperties: false
                properties:
                  claim_id:
                    type: string
                  claim_status:
                    type: string
                  policy_id:
                    type: string
                  policy_status:
                    type: string
                required:
                - claim_id
                - policy_id
                - claim_status
                - policy_status
                type: object
              follow_up_themes:
                items:
                  type: string
                maxItems: 6
                minItems: 3
                type: array
              missing_information:
                items:
                  type: string
                type: array
              next_decision_points:
                items:
                  type: string
                maxItems: 5
                minItems: 2
                type: array
              outcome_type:
                enum:
                - ALIGNED_POSITIVE
                - CLAIM_BLOCKED
                - POLICY_AT_RISK
                - REVIEW_NEEDED
                - UNKNOWN
                type: string
              path_type:
                enum:
                - CLAIM_AND_POLICY
                type: string
            required:
            - path_type
            - outcome_type
            - entities
            - follow_up_themes
            - missing_information
            - next_decision_points
            type: object
        structured_output_enabled: true
        title: build_claim_policy_suggestion_context
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1780335252686'
      position:
        x: 1872.2866750075661
        y: 304
      positionAbsolute:
        x: 1872.2866750075661
        y: 304
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef _to_obj(v):\n    if isinstance(v, dict):\n     \
          \   return v\n    if isinstance(v, str):\n        try:\n            return\
          \ json.loads(v)\n        except Exception:\n            return v\n    return\
          \ v\n\ndef main(answer, suggestion_context):\n    merged = {\n        \"\
          answer\": _to_obj(answer),\n        \"suggestion_context\": _to_obj(suggestion_context)\n\
          \    }\n    return {\n        \"merged_json\": json.dumps(merged, ensure_ascii=False)\n\
          \    }"
        code_language: python3
        outputs:
          merged_json:
            children: null
            type: string
        selected: false
        title: merge_answer_and_context_parallel
        type: code
        variables:
        - value_selector:
          - '1781381278770'
          - structured_output
          value_type: object
          variable: answer
        - value_selector:
          - '1780335252686'
          - structured_output
          value_type: object
          variable: suggestion_context
      height: 52
      id: '1780335257314'
      position:
        x: 2210.788350104725
        y: 304
      positionAbsolute:
        x: 2210.788350104725
        y: 304
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\n\ndef _clean(v):\n    return (v or \"\").strip()\n\ndef\
          \ _extract_claim_id(query):\n    q = _clean(query)\n    if not q:\n    \
          \    return \"\"\n    m = re.search(r\"\\b(CLM-\\d{3,6})\\b\", q.upper())\n\
          \    return m.group(1) if m else \"\"\n\ndef _extract_policy_id(query):\n\
          \    q = _clean(query)\n    if not q:\n        return \"\"\n    m = re.search(r\"\
          \\b(POL-[A-Z]{2,4}-\\d{3,6})\\b\", q.upper())\n    return m.group(1) if\
          \ m else \"\"\n\ndef main(start_claim_id=\"\", start_policy_id=\"\", query=\"\
          \"):\n    resolved_claim_id = _clean(start_claim_id) or _extract_claim_id(query)\n\
          \    resolved_policy_id = _clean(start_policy_id) or _extract_policy_id(query)\n\
          \    return {\n        \"resolved_claim_id\": resolved_claim_id,\n     \
          \   \"resolved_policy_id\": resolved_policy_id\n    }"
        code_language: python3
        outputs:
          resolved_claim_id:
            children: null
            type: string
          resolved_policy_id:
            children: null
            type: string
        selected: false
        title: resolve_claim_and_policy_ids
        type: code
        variables:
        - value_selector:
          - '1778956618758'
          - claim_id
          value_type: string
          variable: start_claim_id
        - value_selector:
          - '1778956618758'
          - policy_id
          value_type: string
          variable: start_policy_id
        - value_selector:
          - '1778956618758'
          - query
          value_type: string
          variable: query
      height: 52
      id: '1780461414069'
      position:
        x: 399.3610505634548
        y: 304
      positionAbsolute:
        x: 399.3610505634548
        y: 304
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        prompt_template:
        - id: 6ea08c07-6c5a-4f9c-8758-344d1d86f84b
          role: system
          text: 'You are a claims-policy response formatter for a CLAIM_AND_POLICY
            workflow.


            Transform raw claim data + raw policy data into concise, professional,
            machine-friendly JSON.


            Output rules:

            1) Return ONLY valid JSON matching the output schema.

            2) Use only facts present in inputs.

            3) Respect requested_sections and detail_level from Focus.

            4) If must_include_ids=true, include claim_id and policy_id when available.

            5) If claim/policy data is an array, use the first item as the primary
            record.

            6) If a field is unavailable, use null.

            7) Keep numeric fields as numbers, not strings.

            8) Keep dates in YYYY-MM-DD when available.

            9) Do not include noisy/internal notes unless explicitly requested.

            10) Tone must be operational for internal insurance staff.


            Notes handling rule:

            - Include `notes` only if it is operationally useful for claims/policy
            decisioning, audit, compliance, or next actions.

            - If notes are generic, noisy, unclear, or non-actionable, set `notes`
            to null.

            - Do not copy raw notes verbatim unless they add clear decision value.'
        - id: 8c2ee2e6-0144-4346-92f0-6badd1049b85
          role: user
          text: "User query:\n{{#1778956618758.query#}}\n\nRaw claim data:\n{{#17791343078480.body#}}\n\
            \nRaw policy data:\n{{#17791342673210.body#}}\n\nFocus:\n{{#1779033811215.structured_output#}}\n\
            \nFormat the combined response as structured JSON for internal operations.\n\
            \nRequired output shape:\n{\n  \"title\": \"Claim & Policy Details — <claim_id_or_policy_id_or_unknown>\"\
            ,\n  \"claim_summary\": {\n    \"claim_id\": string,\n    \"policy_id\"\
            : string,\n    \"customer_id\": string,\n    \"claim_type\": string,\n\
            \    \"claim_category\": string,\n    \"claim_date\": string,\n    \"\
            incident_date\": string,\n    \"claim_amount\": number,\n    \"approved_amount\"\
            : number,\n    \"payment_date\": string,\n    \"status\": string,\n  \
            \  \"rejection_reason\": string,\n    \"assigned_officer\": string,\n\
            \    \"notes\": string\n  },\n  \"policy_summary\": {\n    \"policy_id\"\
            : string,\n    \"customer_id\": string,\n    \"policy_type\": string,\n\
            \    \"policy_name\": string,\n    \"sum_assured\": number,\n    \"premium_amount\"\
            : number,\n    \"premium_frequency\": string,\n    \"start_date\": string,\n\
            \    \"end_date\": string,\n    \"status\": string,\n    \"agent_id\"\
            : string,\n    \"policyholder_name\": string,\n    \"notes\": string\n\
            \  },\n  \"combined_assessment\": string,\n  \"next_steps\": string\n\
            }\n\nAdditional instructions:\n- Keep field names stable (do not rename\
            \ keys).\n- If claim status is approved and policy active, focus next_steps\
            \ on payout confirmation and servicing readiness.\n- If statuses indicate\
            \ mismatch/risk (e.g. claim pending/rejected, policy not active), focus\
            \ next_steps on verification/escalation.\n- Include notes only if requested_sections\
            \ includes \"notes\"; otherwise set notes to null.\n- Do not invent facts.\n\
            Return JSON only.\n\n- Apply a usefulness filter to notes:\n  - keep concise,\
            \ decision-relevant note content only\n  - otherwise set notes to null"
        selected: false
        structured_output:
          schema:
            properties:
              claim_summary:
                properties:
                  approved_amount:
                    type: number
                  assigned_officer:
                    type: string
                  claim_amount:
                    type: number
                  claim_category:
                    type: string
                  claim_date:
                    type: string
                  claim_id:
                    type: string
                  claim_type:
                    type: string
                  customer_id:
                    type: string
                  incident_date:
                    type: string
                  notes:
                    type: string
                  payment_date:
                    type: string
                  policy_id:
                    type: string
                  rejection_reason:
                    type: string
                  status:
                    type: string
                type: object
              combined_assessment:
                type: string
              next_steps:
                type: string
              policy_summary:
                properties:
                  agent_id:
                    type: string
                  customer_id:
                    type: string
                  end_date:
                    type: string
                  notes:
                    type: string
                  policy_id:
                    type: string
                  policy_name:
                    type: string
                  policy_type:
                    type: string
                  policyholder_name:
                    type: string
                  premium_amount:
                    type: number
                  premium_frequency:
                    type: string
                  start_date:
                    type: string
                  status:
                    type: string
                  sum_assured:
                    type: number
                type: object
              title:
                type: string
            required:
            - title
            - claim_summary
            - policy_summary
            - combined_assessment
            - next_steps
            type: object
        structured_output_enabled: true
        title: format_claim_policy_response
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1781381278770'
      position:
        x: 1523.805159002854
        y: 304
      positionAbsolute:
        x: 1523.805159002854
        y: 304
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 280.3245840267333
      y: 334.41863437707957
      zoom: 0.41474637291372857
  rag_pipeline_variables: []
