dify-data/Structured_Research.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: Structured_Research
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.4.2@21195ee1321849e0a7d4b3f6b2fd8c2be23ea6c7182e1b444ecc4c1711b52468
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1783192830571-source-1783192849979-target
      source: '1783192830571'
      sourceHandle: source
      target: '1783192849979'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1783192849979-source-1783194536743-target
      source: '1783192849979'
      sourceHandle: source
      target: '1783194536743'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1783194536743-source-1783194706922-target
      source: '1783194536743'
      sourceHandle: source
      target: '1783194706922'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1783194706922-source-1783194750100-target
      source: '1783194706922'
      sourceHandle: source
      target: '1783194750100'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1783194750100-source-1783194796548-target
      source: '1783194750100'
      sourceHandle: source
      target: '1783194796548'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: query
          max_length: 5000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: query
        - default: ''
          hint: ''
          label: claim_id
          max_length: 1000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: claim_id
      height: 135
      id: '1783192830571'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\n\ndef _clean(v):\n    return (v or \"\").strip()\n\ndef\
          \ _extract_claim_id_from_query(query):\n    q = _clean(query)\n    if not\
          \ q:\n        return \"\"\n    m = re.search(r\"\\b(CLM-\\d{3,6})\\b\",\
          \ q.upper())\n    return m.group(1) if m else \"\"\n\ndef main(start_claim_id=\"\
          \", query=\"\"):\n    resolved = _clean(start_claim_id) or _extract_claim_id_from_query(query)\n\
          \    return {\"resolved_claim_id\": resolved}"
        code_language: python3
        outputs:
          resolved_claim_id:
            children: null
            type: string
        selected: false
        title: extract_claim_id
        type: code
        variables:
        - value_selector:
          - '1783192830571'
          - claim_id
          value_type: string
          variable: start_claim_id
        - value_selector:
          - '1783192830571'
          - query
          value_type: string
          variable: query
      height: 52
      id: '1783192849979'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: Content-Type:application/json
        method: get
        params: claim_id:{{#1783192849979.resolved_claim_id#}}
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: fetch_assessment
        type: http-request
        url: https://sit-capstone.onrender.com/assessment
        variables: []
      height: 138
      id: '1783194536743'
      position:
        x: 684
        y: 282
      positionAbsolute:
        x: 684
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        prompt_template:
        - id: 1e8cfffe-3309-4f4c-9bf4-4bcb7eab9635
          role: system
          text: 'You are evaluating an insurance claim. You will be given claim,
            policy, and eligibility rule data as JSON. Do not explain your reasoning.
            Respond only in the required structured JSON format.'
        - id: dfe7852a-514e-4310-981f-dc085a6b3284
          role: user
          text: 'Assessment data (claim, policy, and eligibility rules):

            {{#1783194536743.body#}}'
        selected: false
        structured_output:
          schema:
            properties:
              cited_rule_ids:
                items:
                  type: string
                type: array
              confidence:
                enum:
                - HIGH
                - MEDIUM
                - LOW
                type: string
              recommendation:
                enum:
                - APPROVE
                - REJECT
                - REFER_FOR_FURTHER_REVIEW
                type: string
            required:
            - recommendation
            - confidence
            - cited_rule_ids
            type: object
        structured_output_enabled: true
        title: structured_recommendation
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1783194706922'
      position:
        x: 986
        y: 282
      positionAbsolute:
        x: 986
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(recommendation_obj):\n    if isinstance(recommendation_obj,\
          \ str):\n        try:\n            recommendation_obj = json.loads(recommendation_obj)\n\
          \        except Exception:\n            pass\n    return {\"recommendation_json\"\
          : json.dumps(recommendation_obj, ensure_ascii=False)}"
        code_language: python3
        outputs:
          recommendation_json:
            children: null
            type: string
        selected: false
        title: serialize_structured_output
        type: code
        variables:
        - value_selector:
          - '1783194706922'
          - structured_output
          value_type: object
          variable: recommendation_obj
      height: 52
      id: '1783194750100'
      position:
        x: 1288
        y: 282
      positionAbsolute:
        x: 1288
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1783194750100'
          - recommendation_json
          value_type: string
          variable: answer
        selected: false
        title: recommendation
        type: end
      height: 88
      id: '1783194796548'
      position:
        x: 1590
        y: 282
      positionAbsolute:
        x: 1590
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 156.94637982169365
      y: 56.031350497954804
      zoom: 0.8923248169227207
  rag_pipeline_variables: []
